@media screen and (max-width: 991px) {

  h3 {
    font-size: 1.2rem;

  }

  p {
    font-size: 1.1rem;
   }

  .nav-toggle {
    display: block;
    margin-right: 20px;
  }

  .main-nav {
    overflow: initial;
  }

  .nav-links {
    position: absolute;
    background-color: white;
    left: -100%;
    top: 100%;
    width: 100%;
    padding-block: 20px;
    transition: 0.2s ease-in-out;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links ul {
    flex-direction: column;

  }

  .examples-area {
    gap: 20px;
  }

  .examples-card {
    width: calc(50% - 10px);
    height: 180px;
  }


  .cta-section-container {
    background-position: 110% 70%;
    justify-content: space-between;
    background-size: 58%;
  }

  .learn-more-btn {
    width: 100%;

  }

  .cta-section-container {
    justify-content: left;
  }

  .pannel-includes {
    margin-left: 15px;
  }

}

@media screen and (max-width: 767px) {
 
  .header-section {
    flex-direction: column-reverse;
  }

  .header-left {
    max-width: 100vw;
    text-align: center;
  }

  .primary-button {
    width: 100%;
  }
  .features-section {
    margin-top: 50px;
  }

  .features-card {
    min-width: calc(50% - 10px);
  }

  .big-feature-container {
    flex-direction: column;
  }

  .big-feature-container-2 {
    flex-direction: column;
  }

  .feature-desc {
    max-width: 100vw;
    text-align: left;
  }

  .example-section {
    text-align: center;
  }

  .cta-section-container {
    background-position: 50% 0%;
    justify-content: space-between;
    background-size: 100%;
    text-align: center;
    align-items: center;
   

  }

  .all-section {
    text-align: center;
    align-items: center;
    margin-top: 100%;
    /* row-gap: 50px; */
  }

  .cta-heading {
    /* margin-top: 440px; */
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .cta-heading h2 {
    font-size: 38px;
  }

  .cta-p {
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    width: 210%;
  }

  .pannel-includes {
    width: 190%;
    align-items: flex-start;
    justify-content: space-between;
    justify-items: stretch;
    column-gap: 50px;
  }

  .ul-col3 {
    flex-direction: column;
    column-gap: 80px;
    justify-content: space-around;
    align-items: flex-start;

  }

  .options {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .learn-more-btn { 
    text-align: center;
    align-items: center;
    width: 180vw;
    padding-left: 90%;
  }
  .learn-more {
    text-align: center;
    align-items: center;
    padding-left: 5rem;
  }


  .footer-container {
    flex-direction: column;
    gap: 40px;
    text-align: center;
    align-items: center;
  }

  .link-column {
    align-items: stretch;
  }

}

@media screen and (max-width: 479px) {
  :root {
    --padding-inline-section: 10px;
  }

  h1 {
    font-size: 2rem;

  }

  h2 {
    font-size: 1.2rem;

  }
  p {
    font-size: 1rem;
  }
  .features-section {
    margin-top: 50px;
  }
  .companies-section {
    margin-bottom: 60px;
  }

  .features-card {
    min-width: 100%;
  }

  .examples-card {
    width: 100%;
  }


  .cta-section-container {
    background-position: 50% 1%;
    justify-content: space-between;
    background-size: 100%;
    /* margin-bottom: 300px; */
   
  }

  .all-section {
    /* margin-bottom: 300px; */
    margin-top: 100%;
  }

  .participant {
    justify-content: center;
    align-items: center;
    /* height: 20%; */
    /* font-size: 1rem; */
    width: 200%;
    /* font-size: 1.2rem; */
    letter-spacing: -.5px;
  }
  .cta-heading h2 {
    font-size: 28px;
  }

  .cta-p {
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    width: 200%;
  }

  .pannel-includes {
    display: inline-block;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 200%;
  }

  .ul-media {
    margin-right: 12px;
    margin-bottom: 18px;
  }

  .options {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }


  .learn-more-btn {
    text-align: center;
    align-items: center;
    width: 400%;
    justify-content: center;
    padding-block: 10px;
    margin-left: 40px;
   
    
  }

  .learn-more {
    text-align: center;
    align-items: center;
    padding-left: 9rem;
  }
















}